body {
	padding: 70px 0px;
	background-color: #202020;
}

h1, h2, h3, h4, h5 {
	margin-top: 10px;
}

.navbar-default {
	background-color: #202020;
	border: 0px;
}

.navbar-right {
	margin-right: 0px;
}

.table {
	margin-bottom: 0px;
}

.panel {
	background-color: #202020;
	font-family: Consolas, "Courier New", monospace;
	font-size: 24px;
	color: #4cae4c;
}

.panel-body {
	padding: 0px;
}

.panel-primary {
	border: 0px;
}

.answer-input {
	background-color: #202020;
	border: 0px;
	caret-color: #4cae4c;
	font-family: consolas;
	color: #ffffff;
}

.answer-input:focus {
	outline: none;
	box-shadow: none;
	border-color: inherit;
	-webkit-box-shadow: none;
	background-color: #202020;
	color: #ffffff;
}

.answer-form {
	border-bottom: 3px dashed #4cae4c;
}
